<!DOCTYPE html>
<html lang="en">
<%- include('./templates/header.ejs') %>
<body>
  <div class="container">
    <div class="card">
      <div class="card-header"><h1 style="text-align: center;"><%= title %></h1></div>
      <div class="card-body">
        <form method="post" action="/edit/<%= id %>">
          <div class="mb-3">
            <label for="idGuitar" class="form-label">Id Guitar</label>
            <input type="text" class="form-control" id="idGuitar" name="id" value="<%= id %>" readonly>
          </div>
          <div class="mb-3">
            <label class="form-label" for="nameGuitar">Nombre Guitar</label>
            <input type="text" class="form-control" id="nameGuitar" name="name" value="<%= name %>">
          </div>
          <button class="btn btn-primary" type="submit">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
  <%- include('./templates/footer.ejs') %>
</body>
</html>
